.features {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}

.features__block {
  padding: 0;
  margin: 0;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    margin: -15px;
  }
}

.features__block-item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}
.features__block-item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px * 2) / 2);
    margin: 15px;
  }
}
.features__block-item {
  @media screen and (min-width: 1200px) {
    width: calc((100% - 30px * 4) / 4);
    margin: 15px;
  }
}

.features__block {
  &-subtitle {
    margin-top: 30px;
    margin-bottom: 12px;

    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
  &-text {
    margin: 0;
    color: $accent-text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
}
