.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__block {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients__block-item {
  flex-basis: calc((100% - 30px * 6) / 6);
  width: 170px;
  margin: 15px;
}
