.product__block-subtitle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;

  width: 100%;
  height: 70px;
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: $secondary-text-color;

  background: rgba(47, 48, 58, 0.8);
}
