.pop-ups__modal {
  position: relative;
  max-width: 480px;
  width: 100%;
  min-height: 581px;
  padding: 15px;
  margin: auto;

  background: $primary-bg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: all 2s ease;
  transform: translateY(0);
}

.is-hidden .pop-ups__modal {
  transform: translateY(-200%);
}

.pop-ups__modal-closed-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 8px;
  right: 8px;

  padding: 6px;
  width: 30px;
  height: 30px;

  background: $primary-bg-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  &:hover,
  &:hover {
    fill: $accent-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
