.portfolio__nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  &-item {
    margin-right: 8px;
    margin-bottom: 15px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    &-item {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.portfolio__nav-item-button {
  display: inline-flex;
  padding: 6px 22px;

  outline: none;
  border-radius: 4px;
  border-width: 0;
  background-color: $secondary-bg-color;
  color: $primary-text-color;

  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  cursor: pointer;

  transition: background-color;
}

.portfolio__nav-item-button:hover,
.portfolio__nav-item-button:focus {
  background-color: $accent-color;
  color: $secondary-text-color;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
