.footer__social {
  display: block;
  padding-top: 60px;
  text-align: center;
  @media screen and (min-width: 768px) {
    padding-top: 0;
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer__social .social {
  display: flex;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.footer__social .social__item-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color;
  margin: 0;
}

.social__item-link:hover,
.social__item-link:focus {
  background-color: $accent-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social .social__item-link-svg {
  fill: $primary-bg-color;
}

.footer-social-link-svg {
  width: 20px;
  height: 20px;
  fill: $primary-bg-color;
}
