.product {
  padding-top: 94px;
  padding-bottom: 94px;
}

.product__block {
  display: flex;
  z-index: 0;

  & .product__block-item + .product__block-item {
    margin-left: 30px;
  }
}

.product__block-item {
  position: relative;
}
