$primary-text-color: #212121;
$secondary-text-color: #ffffff;
$accent-text-color: #757575;
$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$accent-color: #2196f3;
$footer-bg-color: #2f303a;
$fill: #afb1b8;
