.form__field-input {
  width: 100%;

  // min-width: 350px;
  // width: 430px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }

  &:hover + .form__field-label,
  &:not(:placeholder-shown) + .form__field-label {
    transform: translateY(-40px);
    color: $accent-color;
  }
  &:focus + .form__field-label,
  &:not(:placeholder-shown) + .form__field-label {
    transform: translateY(-40px);
    color: $accent-color;
  }
}
