.team {
  background-color: $secondary-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__block {
  padding: 0;
  margin: 0;
  padding-top: 30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 50px;
  }
}

.team__block-item {
  display: block;
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.team__block-item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px * 2) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 30px * 4) / 4);
    margin: 15px;
  }
}
